- unless edit_mode?
  .row-fluid= link_to icon_for(:pencil), root_path(:mode => 'edit'), :class => 'pull-right', :title => 'Edit mode'
- if current_user.colors.empty?
  .alert.alert-notice
    Start using Linkage by
    = link_to 'adding colors to your palette', colors_path
#home
  .groups
    = render :partial => 'group', :collection => @groups, :as => 'group'
