!!!
%html
  %head
    %meta{ :context => 'text/html; charset=UTF-8', 'http-equi' => 'Content-Type' }
  %body
    %h1= "Verify your Linkage account #{@user.name}"
    %p Please click on the following link to verify your account:
    %a{ :href => @link }= @link
