<% if current_user.colors.any? %>
  <%= render 'shared/show_modal' %>
<% else %>
  $("#groups").html('<div class="alert alert-error">Please add colors to your palette before creating a group!</div>');
<% end %>
