%h1= "Account info for #{@user.name}"
= link_to 'Delete Account', current_user, :method => :delete, :confirm => "Are you sure that you want to delete your account? This action is irreversible.", :class => 'btn btn-danger pull-right'
= render 'form'
