%h1 Getting Started
%p
  To start using Linkadex, you must first
  = link_to "sign up for an account.", signup_path
  Enter a username, email address, your name, and choose a good password.
%h2 Verify your account
%p
  Once you have successfully signed up for a Linkadex account, you will be sent a verification email. You will not be able to access your account until it is verified. To do this, click on the link that was sent to your email address. After the verification step is complete, you can
  = link_to "sign in", signin_path
  with your email and password you chose while signing up.
