%h1 About Linkadex
%ul
  %li= link_to 'Tutorials', about_tutorials_root_path

%h2 FAQ

%blockquote
  %strong What is Linkadex?

%p Linkadex is a dynamic bookmark management application.

%blockquote
  %strong What the heck is a dynamic bookmark management application?

%p Linkadex provides each user with a means of managing website bookmarks from within a web application. This way, you can have a personlized page of attractive links to the pages you use most frequently.

%blockquote
  %strong But doesn't my web browser do that already?

%p In a sense, yes. But something like Linkadex is truly cross platform. It can be accessed from any browser on any modern device, without having to install any programs or import bookmarks from somewhere else. Linkadex allows your bookmarks to shine on their own dedicated page.

%blockquote
  %strong How did you come up with the idea for Linkadex?

%p
  I implemented something similar on my first
  = link_to 'personal page', 'http://www.michaelrose.heliohost.org.'
  However, since the links were hard coded into the page, they all became outdated, because I would have to edit the source code every time I wanted to change, add, or remove a something. Linkadex solves this problem by letting users do all the dirty work quickly and easily just by logging in.

%blockquote
  %strong How did you come up with the name?

%p
  Link + index = Linkadex. Which is essentially what Linkadex is, an index page for your links. A friend pointed out to me that Linkadex sounds like
  = link_to 'Rolodex', 'http://en.wikipedia.org/wiki/Rolodex'
  , which is another good analogy.

%blockquote
  %strong How do I get started with Linkadex?

%p
  Please see the
  = link_to 'tutorials', 'https://linkadex.herokuapp.com/about/tutorials'
  for more information on how to use the application.
