<% unless @color.in_use? %>
  $("#color<%= escape_javascript(@color.id.to_s) %>").fadeOut();
  $("#flash").fadeOut();
<% else %>
  $("#flash .span12").html('<div class="span12 alert alert-error flash">Color could not be deleted: still in use!</div>');
  $("#flash").show().delay(5000).fadeOut();
<% end %>
