@import "bootstrap";

#groups {
  width: 100%;
  .group {
    width: 30%;
    height: 10em;
    margin-left: 1em;
    padding: 0.5em;
    float: left;
    border: 0.1em solid black;
    margin-bottom: 1em;
    overflow: hidden;
    word-wrap: break-word;
  }
}

.group-create {
  margin-top: 1em;
}
